/* SidebarChannel.css */
.sidebarChannel .sidebarChannel_name {
    display: flex;
    align-items: center;
    padding-left: 15px;
    background-color: var(--grey-color);
    color: var(--light-grey-color);
    cursor: pointer;
}

.sidebarChannel:hover .sidebarChannel_name {
    color: var(--white-color);
    background-color: var(--light-grey-color);
}

/* hash icon */
.sidebarChannel_hash {
    font-size: 30px;
    padding: 8px;
}
